.legend {
    width: 12em;
    float: left;
    margin-top: 5%;
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    margin-right: 0.5em;
}
